.about {
    padding: 20px;
    background: linear-gradient(180deg, #e1ffea22 0%, #fde1ff 60%);
}
  
.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.about-container h1{
    color: #171717;
    font-weight: 600;
    font-size: 50px;
}

.about-container hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
  
.image-container {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 50px; 
}
  
.image-container img {
    width: 100%;
    height: auto;
    mix-blend-mode: multiply;
}
  
.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
  
.content-container p {
    color: #171717;
    font-size: 22px;
    font-weight: 600;
    padding: 40px;
}

/* Responsive */

@media(max-width : 1280px){
    .about-container {
        padding: 10px;
    }

    .about-container h1{
        font-size: 40px;
    }

    .about-container hr{
        width: 180px;
        height: 5px;
    }
}

@media(max-width : 1024px){
    .about-container h1 {
        font-size: 35px;
    }

    .about-container hr{
        width: 150px;
        height: 5px;
    }
}

@media(max-width : 800px){
    .about-container {
        padding: 5px;
    }
    
    .about-container h1 {
        font-size: 30px;
    }
    
    .about-container hr{
        width: 100px;
        height: 4px;
    }

    .image-container {
        padding-top: 20px;
    }
    
    .content-container p {
        padding: 20px;
    }
}

@media(max-width : 500px){
    .about-container h1 {
        font-size: 25px;
    }  
}